body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.image-generate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.image-generate.loading .image-gen-wrapper,
.image-generate.loading footer {
  display: none; /* Hide all content except the loader when loading */
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
      radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
      radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
      radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
      #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
  margin-bottom: 20px; /* Space between loader and text */
}

.loading-text {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

@keyframes l9 {
  33% {
      background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
      background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
      background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

@keyframes neonGlow {
  0%, 100% {
      text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff;
  }
  50% {
      text-shadow: 0 0 3px #0ff, 0 0 6px #0ff, 0 0 9px #0ff, 0 0 12px #0ff;
  }
}

.image-gen-wrapper {
  text-align: center;
  position: relative;
  z-index: 2;
  flex: 1;
}

.prompt-input-field {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}

.generate-btn {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #00aaff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generated-image {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.error-message {
  color: #ff4f4f;
  margin-top: 10px;
}

footer {
  margin-bottom: -15px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #bbb;
  font-size: 14px;
  position: absolute;
  bottom: -90%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}
